<% form_params = [course] if local_assigns[:form_params].nil? %>
<%= form_for(*form_params) do |f| %>
  <h3>
    <%= course %>
     Course
  </h3>

  <div class="field form-group">
    <%= f.label :student_id %>
    <%= f.select :students, options_for_select(course.students.all.map{|s|[s.to_s, s.id]}) %>
  </div>

  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>
