<p id="notice"><%= notice %></p>

<h1>Students</h1>

<%= render 'people/list', people: @course.students %>

<br>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewStudent">
  New Student
</button>

<!-- Modal -->
<div class="modal fade" id="NewStudent" tabindex="1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" >&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Add Student</h4>
      </div>
      <div class="modal-body">
        <%= puts @course %>
        <%= render 'enrollments/form',course: @course %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'New Student', new_course_enrollment_path(course_id: @course.id) %>
